In [21]:
import pandas as pd
import json

In [13]:
from utils.config import *

In [14]:
import os

In [35]:
#agg transactions

aggpath = "C:/kannan/code/phonepedata/data/aggregated/transaction/country/india/state/"
agg_tran_list = os.listdir(aggpath)
#print(agg_tran_list)

cols1 = {"states":[],"years":[],"quarters":[],"transaction_name":[],"transaction_count":[], "transaction_amount":[]}
for s in agg_tran_list:
    cur = aggpath+s+"/"
    agg_yr_list = os.listdir(cur)

    for y in agg_yr_list:
        cur_y = cur+y+"/"
        agg_file_list = os.listdir(cur_y)
        for f in agg_file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            for rec in json_data["data"]["transactionData"]:
                name = rec["name"]
                count = rec["paymentInstruments"][0]["count"]
                amount = rec["paymentInstruments"][0]["amount"]
                cols1["transaction_name"].append(name)
                cols1["transaction_count"].append(count)
                cols1["transaction_amount"].append(amount)
                cols1["states"].append(s)
                cols1["years"].append(y)
                cols1["quarters"].append(f.strip(".json"))

In [39]:
tran_df = pd.DataFrame(cols1)

In [88]:
tran_df.dtypes

states                 object
years                  object
quarters               object
transaction_name       object
transaction_count       int64
transaction_amount    float64
dtype: object

In [47]:
#aggrecated users

agg_user_path = "C:/kannan/code/phonepedata/data/aggregated/user/country/india/state/"
agg_user_list = os.listdir(agg_user_path)
#print(agg_tran_list)

user_cols1 = {"states":[],"years":[],"quarters":[],"brands":[],"transaction_count":[], "percentage":[]}
for s in agg_user_list:
    cur = agg_user_path+s+"/"
    agg_yr_list = os.listdir(cur)

    for y in agg_yr_list:
        cur_y = cur+y+"/"
        agg_file_list = os.listdir(cur_y)
        for f in agg_file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            try:
                for rec in json_data["data"].get("usersByDevice"):
                    brand = rec["brand"]
                    count = rec["count"]
                    percentage = rec["percentage"]
                    user_cols1["brands"].append(brand)
                    user_cols1["transaction_count"].append(count)
                    user_cols1["percentage"].append(percentage)
                    user_cols1["states"].append(s)
                    user_cols1["years"].append(y)
                    user_cols1["quarters"].append(f.strip(".json"))
            except:
                pass

In [49]:
user_df = pd.DataFrame(user_cols1)

In [90]:
user_df.dtypes

states                object
years                 object
quarters              object
brands                object
transaction_count      int64
percentage           float64
dtype: object

In [60]:
#map transactions

mappath = "C:/kannan/code/phonepedata/data/map/transaction/hover/country/india/state/"
map_tran_list = os.listdir(mappath)
#print(agg_tran_list)

map_tran_cols = {"states":[],"years":[],"quarters":[],"districts":[],"transaction_count":[], "transaction_amount":[]}
for s in map_tran_list:
    cur = mappath+s+"/"
    yr_list = os.listdir(cur)

    for y in yr_list:
        cur_y = cur+y+"/"
        file_list = os.listdir(cur_y)
        for f in file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            for rec in json_data["data"]["hoverDataList"]:
                name = rec["name"]
                count = rec["metric"][0]["count"]
                amount = rec["metric"][0]["amount"]
                map_tran_cols["districts"].append(name)
                map_tran_cols["transaction_count"].append(count)
                map_tran_cols["transaction_amount"].append(amount)
                map_tran_cols["states"].append(s)
                map_tran_cols["years"].append(y)
                map_tran_cols["quarters"].append(f.strip(".json"))

In [61]:
map_tran_df = pd.DataFrame(map_tran_cols)

In [62]:
map_tran_df

,states,years,quarters,districts,transaction_count,transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16827,west-bengal,2023,3,nadia district,30146530,5.787869e+10
16828,west-bengal,2023,3,birbhum district,17597047,3.090737e+10
16829,west-bengal,2023,3,purba medinipur district,34244893,6.813718e+10
16830,west-bengal,2023,3,maldah district,28539407,5.299766e+10
16831,west-bengal,2023,3,darjiling district,14747572,2.463195e+10

In [63]:
#map users

map_user_path = "C:/kannan/code/phonepedata/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(map_user_path)
#print(agg_tran_list)

map_user_cols = {"states":[],"years":[],"quarters":[],"districts":[],"registered_users":[], "app_opens":[]}
for s in map_user_list:
    cur = map_user_path+s+"/"
    yr_list = os.listdir(cur)

    for y in yr_list:
        cur_y = cur+y+"/"
        file_list = os.listdir(cur_y)
        for f in file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            try:
                for rec in json_data["data"]["hoverData"].items():
                    districts = rec[0]
                    registered_users = rec[1]["registeredUsers"]
                    app_opens = rec[1]["appOpens"]
                    map_user_cols["districts"].append(districts)
                    map_user_cols["registered_users"].append(registered_users)
                    map_user_cols["app_opens"].append(app_opens)
                    map_user_cols["states"].append(s)
                    map_user_cols["years"].append(y)
                    map_user_cols["quarters"].append(f.strip(".json"))
            except:
                pass

In [65]:
map_user_df = pd.DataFrame(map_user_cols)

In [66]:
map_user_df

,states,years,quarters,districts,registered_users,app_opens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,west-bengal,2023,3,nadia district,1544294,12674328
16832,west-bengal,2023,3,birbhum district,974363,18961683
16833,west-bengal,2023,3,purba medinipur district,1530289,18593769
16834,west-bengal,2023,3,maldah district,1091634,28020285
16835,west-bengal,2023,3,darjiling district,637665,21732323

In [69]:
#top transactions

toppath = "C:/kannan/code/phonepedata/data/top/transaction/country/india/state/"
top_tran_list = os.listdir(toppath)
#print(agg_tran_list)

top_tran_cols = {"states":[],"years":[],"quarters":[],"districts":[],"transaction_count":[], "transaction_amount":[]}
for s in top_tran_list:
    cur = toppath+s+"/"
    yr_list = os.listdir(cur)

    for y in yr_list:
        cur_y = cur+y+"/"
        file_list = os.listdir(cur_y)
        for f in file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            for rec in json_data["data"]["districts"]:
                name = rec["entityName"]
                count = rec["metric"]["count"]
                amount = rec["metric"]["amount"]
                top_tran_cols["districts"].append(name)
                top_tran_cols["transaction_count"].append(count)
                top_tran_cols["transaction_amount"].append(amount)
                top_tran_cols["states"].append(s)
                top_tran_cols["years"].append(y)
                top_tran_cols["quarters"].append(f.strip(".json"))

In [70]:
top_tran_df = pd.DataFrame(top_tran_cols)

In [91]:
top_tran_df

,states,years,quarters,districts,transaction_count,transaction_amount
0,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,1,nicobars,528,1.139849e+06
2,andaman-&-nicobar-islands,2018,1,north and middle andaman,442,9.316631e+05
3,andaman-&-nicobar-islands,2018,2,south andaman,9395,2.394824e+07
4,andaman-&-nicobar-islands,2018,2,nicobars,1120,3.072437e+06
...,...,...,...,...,...,...
6803,west-bengal,2023,3,hooghly,32021392,5.624223e+10
6804,west-bengal,2023,3,howrah,31734226,5.800237e+10
6805,west-bengal,2023,3,paschim bardhaman,30585672,4.340349e+10
6806,west-bengal,2023,3,paschim medinipur,30418455,5.043177e+10
6807,west-bengal,2023,3,nadia,30146530,5.787869e+10

In [92]:
df = pd.read_csv("https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/active_cases_2020-07-17_0800.csv")

In [96]:
df = df.drop(columns=['active cases'])

In [101]:
df=pd.read_csv("C:/kannan/code/phonepedata/data/states/map_state.csv")

In [103]:
import plotly.express as px
df = px.data.gapminder().query("year == 2007").query("continent == 'Americas'")

In [104]:
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
59,Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32
143,Bolivia,Americas,2007,65.554,9119152,3822.137084,BOL,68
179,Brazil,Americas,2007,72.390,190010647,9065.800825,BRA,76
251,Canada,Americas,2007,80.653,33390141,36319.235010,CAN,124
287,Chile,Americas,2007,78.553,16284741,13171.638850,CHL,152
311,Colombia,Americas,2007,72.889,44227550,7006.580419,COL,170
359,Costa Rica,Americas,2007,78.782,4133884,9645.061420,CRI,188
395,Cuba,Americas,2007,78.273,11416987,8948.102923,CUB,192
443,Dominican Republic,Americas,2007,72.235,9319622,6025.374752,DOM,214
455,Ecuador,Americas,2007,74.994,13755680,6873.262326,ECU,218
479,El Salvador,Americas,2007,71.878,6939688,5728.353514,SLV,222
611,Guatemala,Americas,2007,70.259,12572928,5186.050003,GTM,320
647,Haiti,Americas,2007,60.916,8502814,1201.637154,HTI,332
659,Honduras,Americas,2007,70.198,7483763,3548.330846,HND,340
791,Jamaica,Americas,2007,72.567,2780132,7320.880262,JAM,388
995,Mexico,Americas,2007,76.195,108700891,11977.574960,MEX,484
1115,Nicaragua,Americas,2007,72.899,5675356,2749.320965,NIC,558
1187,Panama,Americas,2007,75.537,3242173,9809.185636,PAN,591
1199,Paraguay,Americas,2007,71.752,6667147,4172.838464,PRY,600
1211,Peru,Americas,2007,71.421,28674757,7408.905561,PER,604
1259,Puerto Rico,Americas,2007,78.746,3942491,19328.709010,PRI,630
1559,Trinidad and Tobago,Americas,2007,69.819,1056608,18008.509240,TTO,780
1619,United States,Americas,2007,78.242,301139947,42951.653090,USA,840
1631,Uruguay,Americas,2007,76.384,3447496,10611.462990,URY,858
1643,Venezuela,Americas,2007,73.747,26084662,11415.805690,VEN,862

In [80]:
#top users

top_user_path = "C:/kannan/code/phonepedata/data/top/user/country/india/state/"
top_user_list = os.listdir(top_user_path)
#print(agg_tran_list)

top_user_cols = {"states":[],"years":[],"quarters":[],"districts":[],"registered_users":[]}
for s in top_user_list:
    cur = top_user_path+s+"/"
    yr_list = os.listdir(cur)

    for y in yr_list:
        cur_y = cur+y+"/"
        file_list = os.listdir(cur_y)
        for f in file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            for rec in json_data["data"]["districts"]:
                districts = rec["name"]
                registered_users = rec["registeredUsers"]
                top_user_cols["districts"].append(districts)
                top_user_cols["registered_users"].append(registered_users)
                top_user_cols["states"].append(s)
                top_user_cols["years"].append(y)
                top_user_cols["quarters"].append(f.strip(".json"))

In [82]:
top_user_df = pd.DataFrame(top_user_cols)

In [83]:
top_user_df

,states,years,quarters,districts,registered_users
0,andaman-&-nicobar-islands,2018,1,south andaman,5846
1,andaman-&-nicobar-islands,2018,1,north and middle andaman,632
2,andaman-&-nicobar-islands,2018,1,nicobars,262
3,andaman-&-nicobar-islands,2018,2,south andaman,8143
4,andaman-&-nicobar-islands,2018,2,north and middle andaman,911
...,...,...,...,...,...
6803,west-bengal,2023,3,howrah,1608895
6804,west-bengal,2023,3,nadia,1544294
6805,west-bengal,2023,3,purba medinipur,1530289
6806,west-bengal,2023,3,paschim medinipur,1384076
6807,west-bengal,2023,3,purba bardhaman,1272153