In [21]:
import pandas as pd
import json

In [13]:
from utils.config import *

In [14]:
import os

In [35]:
#agg transactions

aggpath = "C:/kannan/code/phonepedata/data/aggregated/transaction/country/india/state/"
agg_tran_list = os.listdir(aggpath)
#print(agg_tran_list)

cols1 = {"states":[],"years":[],"quarters":[],"transaction_name":[],"transaction_count":[], "transaction_amount":[]}
for s in agg_tran_list:
    cur = aggpath+s+"/"
    agg_yr_list = os.listdir(cur)

    for y in agg_yr_list:
        cur_y = cur+y+"/"
        agg_file_list = os.listdir(cur_y)
        for f in agg_file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            for rec in json_data["data"]["transactionData"]:
                name = rec["name"]
                count = rec["paymentInstruments"][0]["count"]
                amount = rec["paymentInstruments"][0]["amount"]
                cols1["transaction_name"].append(name)
                cols1["transaction_count"].append(count)
                cols1["transaction_amount"].append(amount)
                cols1["states"].append(s)
                cols1["years"].append(y)
                cols1["quarters"].append(f.strip(".json"))

In [39]:
tran_df = pd.DataFrame(cols1)

In [88]:
tran_df.dtypes

states                 object
years                  object
quarters               object
transaction_name       object
transaction_count       int64
transaction_amount    float64
dtype: object

In [47]:
#aggrecated users

agg_user_path = "C:/kannan/code/phonepedata/data/aggregated/user/country/india/state/"
agg_user_list = os.listdir(agg_user_path)
#print(agg_tran_list)

user_cols1 = {"states":[],"years":[],"quarters":[],"brands":[],"transaction_count":[], "percentage":[]}
for s in agg_user_list:
    cur = agg_user_path+s+"/"
    agg_yr_list = os.listdir(cur)

    for y in agg_yr_list:
        cur_y = cur+y+"/"
        agg_file_list = os.listdir(cur_y)
        for f in agg_file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            try:
                for rec in json_data["data"].get("usersByDevice"):
                    brand = rec["brand"]
                    count = rec["count"]
                    percentage = rec["percentage"]
                    user_cols1["brands"].append(brand)
                    user_cols1["transaction_count"].append(count)
                    user_cols1["percentage"].append(percentage)
                    user_cols1["states"].append(s)
                    user_cols1["years"].append(y)
                    user_cols1["quarters"].append(f.strip(".json"))
            except:
                pass

In [49]:
user_df = pd.DataFrame(user_cols1)

In [90]:
user_df.dtypes

states                object
years                 object
quarters              object
brands                object
transaction_count      int64
percentage           float64
dtype: object

In [60]:
#map transactions

mappath = "C:/kannan/code/phonepedata/data/map/transaction/hover/country/india/state/"
map_tran_list = os.listdir(mappath)
#print(agg_tran_list)

map_tran_cols = {"states":[],"years":[],"quarters":[],"districts":[],"transaction_count":[], "transaction_amount":[]}
for s in map_tran_list:
    cur = mappath+s+"/"
    yr_list = os.listdir(cur)

    for y in yr_list:
        cur_y = cur+y+"/"
        file_list = os.listdir(cur_y)
        for f in file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            for rec in json_data["data"]["hoverDataList"]:
                name = rec["name"]
                count = rec["metric"][0]["count"]
                amount = rec["metric"][0]["amount"]
                map_tran_cols["districts"].append(name)
                map_tran_cols["transaction_count"].append(count)
                map_tran_cols["transaction_amount"].append(amount)
                map_tran_cols["states"].append(s)
                map_tran_cols["years"].append(y)
                map_tran_cols["quarters"].append(f.strip(".json"))

In [61]:
map_tran_df = pd.DataFrame(map_tran_cols)

In [62]:
map_tran_df

,states,years,quarters,districts,transaction_count,transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16827,west-bengal,2023,3,nadia district,30146530,5.787869e+10
16828,west-bengal,2023,3,birbhum district,17597047,3.090737e+10
16829,west-bengal,2023,3,purba medinipur district,34244893,6.813718e+10
16830,west-bengal,2023,3,maldah district,28539407,5.299766e+10
16831,west-bengal,2023,3,darjiling district,14747572,2.463195e+10

In [63]:
#map users

map_user_path = "C:/kannan/code/phonepedata/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(map_user_path)
#print(agg_tran_list)

map_user_cols = {"states":[],"years":[],"quarters":[],"districts":[],"registered_users":[], "app_opens":[]}
for s in map_user_list:
    cur = map_user_path+s+"/"
    yr_list = os.listdir(cur)

    for y in yr_list:
        cur_y = cur+y+"/"
        file_list = os.listdir(cur_y)
        for f in file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            try:
                for rec in json_data["data"]["hoverData"].items():
                    districts = rec[0]
                    registered_users = rec[1]["registeredUsers"]
                    app_opens = rec[1]["appOpens"]
                    map_user_cols["districts"].append(districts)
                    map_user_cols["registered_users"].append(registered_users)
                    map_user_cols["app_opens"].append(app_opens)
                    map_user_cols["states"].append(s)
                    map_user_cols["years"].append(y)
                    map_user_cols["quarters"].append(f.strip(".json"))
            except:
                pass

In [65]:
map_user_df = pd.DataFrame(map_user_cols)

In [66]:
map_user_df

,states,years,quarters,districts,registered_users,app_opens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,west-bengal,2023,3,nadia district,1544294,12674328
16832,west-bengal,2023,3,birbhum district,974363,18961683
16833,west-bengal,2023,3,purba medinipur district,1530289,18593769
16834,west-bengal,2023,3,maldah district,1091634,28020285
16835,west-bengal,2023,3,darjiling district,637665,21732323

In [69]:
#top transactions

toppath = "C:/kannan/code/phonepedata/data/top/transaction/country/india/state/"
top_tran_list = os.listdir(toppath)
#print(agg_tran_list)

top_tran_cols = {"states":[],"years":[],"quarters":[],"districts":[],"transaction_count":[], "transaction_amount":[]}
for s in top_tran_list:
    cur = toppath+s+"/"
    yr_list = os.listdir(cur)

    for y in yr_list:
        cur_y = cur+y+"/"
        file_list = os.listdir(cur_y)
        for f in file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            for rec in json_data["data"]["districts"]:
                name = rec["entityName"]
                count = rec["metric"]["count"]
                amount = rec["metric"]["amount"]
                top_tran_cols["districts"].append(name)
                top_tran_cols["transaction_count"].append(count)
                top_tran_cols["transaction_amount"].append(amount)
                top_tran_cols["states"].append(s)
                top_tran_cols["years"].append(y)
                top_tran_cols["quarters"].append(f.strip(".json"))

In [70]:
top_tran_df = pd.DataFrame(top_tran_cols)

In [80]:
#top users

top_user_path = "C:/kannan/code/phonepedata/data/top/user/country/india/state/"
top_user_list = os.listdir(top_user_path)
#print(agg_tran_list)

top_user_cols = {"states":[],"years":[],"quarters":[],"districts":[],"registered_users":[]}
for s in top_user_list:
    cur = top_user_path+s+"/"
    yr_list = os.listdir(cur)

    for y in yr_list:
        cur_y = cur+y+"/"
        file_list = os.listdir(cur_y)
        for f in file_list:
            cur_f = cur_y+f
            data = open(cur_f,"r")

            json_data = json.load(data)
            for rec in json_data["data"]["districts"]:
                districts = rec["name"]
                registered_users = rec["registeredUsers"]
                top_user_cols["districts"].append(districts)
                top_user_cols["registered_users"].append(registered_users)
                top_user_cols["states"].append(s)
                top_user_cols["years"].append(y)
                top_user_cols["quarters"].append(f.strip(".json"))

In [82]:
top_user_df = pd.DataFrame(top_user_cols)

In [83]:
top_user_df

,states,years,quarters,districts,registered_users
0,andaman-&-nicobar-islands,2018,1,south andaman,5846
1,andaman-&-nicobar-islands,2018,1,north and middle andaman,632
2,andaman-&-nicobar-islands,2018,1,nicobars,262
3,andaman-&-nicobar-islands,2018,2,south andaman,8143
4,andaman-&-nicobar-islands,2018,2,north and middle andaman,911
...,...,...,...,...,...
6803,west-bengal,2023,3,howrah,1608895
6804,west-bengal,2023,3,nadia,1544294
6805,west-bengal,2023,3,purba medinipur,1530289
6806,west-bengal,2023,3,paschim medinipur,1384076
6807,west-bengal,2023,3,purba bardhaman,1272153